:root {
  --fonttype: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
header {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}
.header img {
  width: 100px;
  height: 100px;
  border-radius: 70%;
}
nav {
  display: flex;
  background-color: lightgray;
  justify-content: flex-end;
}
nav a {
  padding: 20px 20px;
  color: darkslategrey;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
a:hover {
  background-color: lightblue;
  color: #13293d;
}
footer {
  display: flex;
  flex-wrap: wrap;
}

.block {
  margin: 30px auto 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.flexCol_1 {
  color: #024e76;
  font-size: 20px;
  flex: 1 20%;
  text-align: left;
  margin: 10px;
  padding: 20px;
}
.flexCol_2 {
  flex: 2 70%;
  background-image: url(../images/grid_bg.jpg);
  color: #13293d;
  text-align: center;
  padding: 20px 20px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.projects {
  background-image: url("../images/bg-portfolio.png");
  flex: 2 70%;
  text-align: center;
  padding: 20px 20px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h4 {
  color: darkgoldenrod;
}
.projects img {
  height: 100px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.projects img:hover {
  box-shadow: 10px 10px 5px #13293d;
}
.contact-info {
  flex: 2 70%;
  padding: 20px 20px;
  margin-right: 10px;
  background-image: url(../images/grid_bg.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.icons ul {
  list-style: none;
  margin: 30px;
}
.icons ul li i {
  text-decoration: none;
  color: brown;
  margin: 10px;
}
.icons ul li > a {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkolivegreen;
  text-decoration: none;
}
.icons ul li > a:hover {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-decoration-line: underline;
  background-color: #fff;
}

.resume-info {
  flex: 2 70%;
  justify-items: center;
  padding: 20px 20px;
  margin: 10px;
  font-size: 12px;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightslategray;
}
.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: lightslategray;
}
.sticky-footer {
  flex: 1 20%;
  padding: 20px 20px;
  width: 100%;
  height: 20px;
}
.h6 {
  font-size: 0.75rem;
}
.gray {
  color: #aaa;
}
.links {
  flex: 2 80%;
  padding: 20px;
  width: 100%;
}
.links a {
  text-decoration: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    /* this will be applied on any screen smaller than 980px */
    color: tomato;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
    /* this will be applied on any screen between 768px and 575px */
    font-size: 60px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    /* this will be applied on any screen smaller than 575px */
    font-size: 80px;
  }
}
